#accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
#section-bienvenue
#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 71px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}

#google_maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#google_maps img {
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid orange;
}



.section {
    flex: 1 1 45%;
    margin: 15px 15px 25px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}

.classe-h1 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: -20px;
    color: white;
}



.classe-h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.classe-h3 {
    font-size: 32px;
    color: white;
    text-align: center;
}



.classe-h5 {
    color: black;
    border: 1px solid;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .classe-h5 {
        font-size: 16px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .classe-h5 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .classe-h5 {
        font-size: 20px;
    }
}


@media only screen and (min-width: 1201px) {
    .classe-h5 {
        font-size: 22px;
    }
}