/* Carousel */
.slick-slider {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.produit-description {
    font-size: 16px;
}

.produit-prix {
    font-size: 24px;
    color: #FF9900; / Couleur orange /
}


.avis-client {
    margin-bottom: 20px;
}

.avis-client-note {
    font-size: 18px;
    font-weight: bold;
    color: #FF9900; / Couleur orange /
}

.avis-client-commentaire {
    font-size: 14px;
}

.voir-tous-avis {
    color: #0000FF; / Couleur bleue /
    text-decoration: none;
}

.voir-tous-avis:hover {
    text-decoration: underline;
}

.produit-titre {
    font-size: 24px;
    color: #81ff00; / Couleur vert /
}

.produit-description {
    color: #000; / Couleur noire /
}


.produit-prix {
    color: #FF9900; / Couleur orange /
}

.avis-client-note {
    color: #FF9900; / Couleur orange /
}

.avis-client-pseudo {
    font-size: 14px;
    color: #FF0000; / Couleur rouge /
}
.voir-tous-avis {
    color: #0000FF; / Couleur bleue /
}

.logo-postal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; / Ajustez la hauteur selon vos besoins */
}

.logo-postal img {
    max-height: 300%;
    max-width: 300%;
}